<!DOCTYPE html>
<html>
<head>
  <title>GAMC</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>GA Car DB ---> Manage your car DB like a professional on a tight budget!</h1>

<%= yield %>

</body>
</html>
